body {
    /*background-color: #efefef;*/
    background-image: url("https://elasticsearch.cn/static/css/default/img/bg.jpg");
}
.main {
    background-color: white;
    margin: 30px;
}

.btn_publish {
    float: right;
    margin-bottom: 15px;
}

.media-body {
    padding-top: 13px;
}

.favicon {
    width: 44px;
    height: 44px;
}

.text-desc {
    font-size: 14px;
    font-weight: normal;
    color: #999999;
}

.profile .section {
    margin-top: 20px;
}

.community-menu {
    font-size: 14px;
    color: #999999;
}

.error-page {
    margin: auto;
}

.comment {
    margin: 10px 0px;
}

.btn-comment {
    float: right;
    margin-bottom: 10px;
}

.comments {
    padding-bottom: 5px;
    margin-bottom: 15px;
    border-bottom: 1px solid #EEEEEE;
}

.sub-comments {
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 15px;
    border: 1px solid #EEEEEE;
    padding-top: 15px;
}

.sub-comments .btn {
    margin: 10px 0px;
    float: right;
}

.menu {
    margin-top: 5px;
    color: #999;
}

.menu .icon {
    margin-right: 8px;
    font-size: 15px;
    cursor: pointer;
}

.menu .icon:hover {
    color: #499ef3;
}