body {
    /*background-color: #efefef;*/
    background-image: url("https://elasticsearch.cn/static/css/default/img/bg.jpg");
}
.main {
    background-color: white;
    margin: 30px;
}

.btn_publish {
    float: right;
    margin-bottom: 15px;
}

.favicon {
    width: 44px;
    height: 44px;
}

.text-desc {
    font-size: 14px;
    font-weight: normal;
    color: #999;
}

.profile .section {
    margin-top: 20px;
}

.community-menu {
    font-size: 14px;
    color: #999;
}

.error-page {
    margin: auto;
}